/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Font Family */
body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Teko", sans-serif;
  font-size: medium;
  font-weight: 700; */
}

/* Global Heading Styles (h1) */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

/* Global Span Styles */
span {
  font-size: 0.9rem;
  color: #757373;
}

/* Global Heading 6 Styles (h6) */
h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Styling the Navigation Header Bar */
nav {
  position: fixed;
  width: 100%;
  background-color: goldenrod;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 6vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Styling the Logo Image */
nav a img {
  width: 100px;
  height: 100;
  border-radius: 50%;
}

nav .navigation {
  display: flex;
}

/* editing menu icon*/
#menu-icon {
  width: 30px;
  height: 30px;
  display: none;
}

#menu-close {
  display: none;
}

/* Styling the Navigation List */
nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Removing Points from Navigation Buttons and adding left margin */
nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}

/* Styling the anchor (link) elements in the navigation menu */
nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

/* Navigation link hover effect */
nav .navigation ul li a:hover {
  color: gold;
}

/* Home page styling */
#home {
  background-image: linear-gradient(
      rgba(128, 128, 128, 1),
      rgba(255, 255, 255, 0)
    ),
    url(images/customize/backcover.jpg);
  width: 100%;
  height: 150vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#home h2 {
  color: bisque;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#home p {
  width: 50%;
  color: goldenrod;
  font-size: 1rem;
  line-height: 25px;
}

#home.btn {
  margin-top: 10px;
}

#home a {
  text-decoration: none;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 5px 35px;
  border-radius: 20px;
}

#home a.gold {
  color: white;
  background: rgb(142, 103, 5);
}

#home a.gold:hover {
  color: rgb(21, 21, 100);
  background: wheat;
  transition: 0.4 ease;
}

/* Editing botton at almost end of page */

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}

#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#features .fea-box {
  background: #f9f9ff;
  text-align: start;
}

#features .fea-box a {
  text-decoration: none;
}

#features .fea-box i {
  font-size: 2.3rem;
  color: rgb(44, 44, 80);
}

#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(6, 6, 74);
  padding: 13px 0 7px 0;
}

#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
}

/*courses on bottom of page */

#course {
  padding: 8vm 8vm 0 8vm;
  text-align: center;
}
#course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
  margin-bottom: 80px;
}

#course .course-card {
  text-align: center;
  background: rgb(245, 237, 222);
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#course .course-card h6 {
  color: goldenrod;
}

#course .course-card img {
  width: 80%;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

#course .course-course .course-content {
  padding: 15px 15px 0 15px;
}

#course .course-card .course-content i {
  color: goldenrod;
  font-size: 1rem;
}

#course .course-content p {
  color: navy;
}

/* CONTACT US SECTION  */

#contact-us {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(
      rgba(99, 112, 168, 0.5),
      rgba(81, 91, 233, 0.5)
    ),
    url("images/customize/register1.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-us .reminder {
  color: whitesmoke;
}

#contact-us .reminder h1 {
  text-transform: uppercase;
  color: rgb(142, 103, 5);
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#contact-us .reminder p {
  color: rgb(130, 7, 7);
  font-size: 1.5rem;
}

#contact-us .form h3 {
  color: rgb(142, 103, 5);
  font-size: 2rem;
}

#contact-us .form {
  background: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 80px;
  box-shadow: #757373;
}

#contact-us .form input {
  margin: 15px 0;
  font-size: 1.5rem;
  padding: 15px 10px;
  border: 1px solid rgb(142, 103, 5);
  outline: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#contact-us .form textarea {
  margin: 15px 0;
  font-size: 1.5rem;
  padding: 15px 10px;
  border: 1px solid rgb(142, 103, 5);
  outline: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#contact-us .form input::placeholder {
  color: goldenrod;
  font-weight: 500;
  font-size: 1rem;
}
#contact-us .form textarea ::placeholder {
  color: goldenrod;
  font-weight: 500;
  font-size: 1rem;
}

/* #contact-us .form .submit-btn {
  margin-top: 10px;
}

/* Written by: Jamel B Mensah */

.submit-btn {
  /* text-decoration: none; */
  cursor: pointer;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 35px;
  border-radius: 20px;
  color: white;
  background: rgb(142, 103, 5);
}

.submit-btn:hover {
  color: rgb(21, 21, 100);
  background: wheat;
  transition: 0.4 ease;
}

/* editing experts */

#experts {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}

#experts .experts-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0 0 0 0;
}

#experts .profiles {
  height: 300px;
  background: rgb(245, 237, 222);
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 0.5s;
}

#experts .profiles:hover {
  height: 350px;
}

#experts .profiles img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid goldenrod;
}

#experts .profiles a {
  text-decoration: none;
}

#experts .profiles h6 {
  color: goldenrod;
  width: 200px;
}

#experts .profiles p {
  color: navy;
  width: 200px;
}

.profile-link {
  margin-top: 10px;
}

.profile-link i {
  padding: 10px 13px;
  border: 1px solid goldenrod;
  transition: 0.3s ease;
}

.profile-link i:hover {
  background: goldenrod;
  color: bisque;
  border: 1px solid goldenrod;
  cursor: pointer;
}

/*Footer section*/

footer {
  padding: 8vw;
  background-color: rgb(142, 103, 5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .footer-column {
  padding-bottom: 40px;
  /*border-bottom: 50px;*/
}

footer .footer-column h3 {
  color: wheat;
  font-weight: 600;
  padding-bottom: 20px;
}

footer .footer-column li {
  list-style: circle;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

footer .footer-column li:hover {
  color: bisque;
  cursor: pointer;
}

footer .footer-column span {
  color: beige;
}

footer .footer-column a {
  text-decoration: none;
  color: black;
}
footer .footer-column a:hover {
  color: bisque;
  cursor: pointer;
}

/*Copyright section*/

/*#copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

#copyright .copy-right {
  background-color: rgb(142, 103, 5);
  margin-bottom: 20px;
}

#copyright .copy-right p {
  font-weight: 600;
  color: wheat;
}
.profile-link a {
  text-decoration: none;
  margin-bottom: 10px; /* Adjust the value to control the space */
}

/*Editing about page*/
#about-home {
  background-image: linear-gradient(
      rgba(128, 128, 128, 1),
      rgba(255, 255, 255, 0)
    ),
    url(images/aboutpage/about4.webp);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
#about-home h2 {
  color: bisque;
  font-size: 2.2rem;
  letter-spacing: 1px;
}
/*Image at the our goals part*/

#about-content {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}

#about-content p {
  color: navy;
}

#about-content h1 {
  color: goldenrod;
}
#about-content h2 {
  color: goldenrod;
}
#about-content h4 {
  color: goldenrod;
}
#about-content strong {
  color: goldenrod;
}

/* Editing Courses page ==================================================================== */

/*Styling courses section start*/
#about-course {
  background-image: linear-gradient(
      rgba(128, 128, 128, 1),
      rgba(255, 255, 255, 0)
    ),
    url(images/customize/Online-courses.jpg);
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
#about-course h2 {
  color: bisque;
  font-size: 2.2rem;
  letter-spacing: 1px;
}
#course-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vw;
}

#course-container .courses {
  width: 60%;
}

#course-container .courses img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

#course-container .courses .course-content {
  padding-bottom: 60px;
}

#course-container .courses .course-content h3 {
  color: goldenrod;
  padding: 15px 0 10px 0;
}

#course-container .courses .course-content h4 {
  color: goldenrod;
  padding: 15px 0 10px 0;
}

#course-container .courses .course-content p {
  color: navy;
  padding-bottom: 20px;
}

#course-container .courses .course-content a {
  text-decoration: none;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 5px 35px;
  border-radius: 20px;
}

#course-container .courses .course-content a {
  color: white;
  background: rgb(142, 103, 5);
}

#course-container .courses .course-content a:hover {
  color: rgb(21, 21, 100);
  background: wheat;
  transition: 0.4 ease;
}
/* styling courses section end*/
/*======================================================================================================*/

/*Styling category section start*/

#course-container .category {
  width: 30%;
}

#course-container .category h2 {
  padding-bottom: 7px;
  color: goldenrod;
}

#course-container .category a {
  text-decoration: none;
  color: navy;
  font-weight: 500;
  line-height: 45px;
}
/*Styling category section end*/

/*editing read more page in courses section*/

#course-container .courses-info {
  width: 60%;
  margin: 0 auto;
}
#course-container .courses-info p {
  text-align: justify;
  padding-bottom: 70px;
}

/*Editing team members page*/

#about-team {
  background-image: linear-gradient(
      rgba(128, 128, 128, 1),
      rgba(255, 255, 255, 0)
    ),
    url(images/customize/Great-team-member.jpg);
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
#about-team h2 {
  color: bisque;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#team-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8vw;
}

#team-container .team {
  width: 60%;
}

#team-container .team img {
  width: 500px;
  height: 500px;
  border-radius: 50px;
  object-fit: cover;
  padding-top: 30px;
  padding-left: 50px;
}

#team-container .team .team-content {
  padding-bottom: 60px;
  box-shadow: darkgray 5px 5px 5px;
  margin-top: 20px;
  padding-left: 20px;
  align-items: center;
  background-color: rgb(245, 237, 222);
  border-color: rgb(218, 165, 32);
}

#team-container .team .team-content h3 {
  color: goldenrod;
  padding: 15px 0 10px 0;
}

#team-container .team .team-contentt h4 {
  color: goldenrod;
  padding: 15px 0 10px 0;
}

#team-container .team .team-content p {
  color: navy;
  padding-bottom: 15px;
}

#team-container .team .team-content a {
  text-decoration: none;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 5px 35px;
  border-radius: 20px;
}

#team-container .team .team-content a {
  color: white;
  background: rgb(142, 103, 5);
}

#team-container .team .team-content a:hover {
  color: rgb(21, 21, 100);
  background: wheat;
  transition: 0.4 ease;
}
/*Team member page end*/

/*Editing Scholarship page*/
#about-scholarship {
  background-image: linear-gradient(
      rgba(128, 128, 128, 1),
      rgba(255, 255, 255, 0)
    ),
    url(images/customize/scholarship-1.png);
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 40px;
}

#about-scholarship h2 {
  color: bisque;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#scholarship-info {
  margin-top: 40px;
  padding-left: 40px;
  margin-bottom: 40px;
}
#scholarship-info .text-section ul {
  color: navy;
  width: 700px;
}

#scholarship-info .text-section span {
  color: goldenrod;
  font-weight: bolder;
}

#scholarship-info .text-section .best {
  color: red;
  font-size: 1.5rem;
}
/*Scholarship page end*/

/* Editing apply now page */

#apply-home {
  /* background-image: linear-gradient(
      rgba(128, 128, 128, 1),
      rgba(255, 255, 255, 0)
    ),
    url(images/customize/scholarship-1.png);
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 40px; */
  background-image: linear-gradient(
      rgba(128, 128, 128, 1),
      rgba(255, 255, 255, 0)
    ),
    url(images/Registrition/registristion.jfif);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0 40px 0;
}

#apply-home h2 {
  color: bisque;
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#registristion {
  background-color: bisque;
  margin: 40px 60px 40px 60px;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 10px 10px 10px goldenrod;
}

#registristion .reg-items {
  padding: 40px;
  /* margin: 20px 70px 20px 70px; */
  text-align: left;
  color: goldenrod;
}
#registristion .reg-items h3 {
  font-size: 2rem;
  color: navy;
}

#registristion .reg-items p {
  font-size: 1rem;
}

#registristion .reg-items strong {
  color: navy;
  font-size: 1rem;
}

#registristion .reg-items .input-boxes {
  margin: 15px 0;
  font-size: 1rem;
  font-weight: bold;
  color: navy;
  padding: 15px 10px;
  border: 1px solid rgb(142, 103, 5);
  outline: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#registristion .reg-items .input-boxes::placeholder {
  font-size: 1rem;
  font-weight: bold;
  color: navy;
}

#registristion .reg-items .input-label {
  font-size: 1.1rem;
  color: goldenrodblue;
  font-weight: bold;
}

/* apply now page end */

/* Editing menu bar icon in tablet and phone mode */

@media (max-width: 769px) {
  nav {
    padding: 15px 20px;
  }
  nav img {
    width: 130px;
  }
  #menu-icon {
    display: initial;
  }

  #menu-close {
    display: initial;
    font-size: 1.6rem;
    color: bisque;
    padding: 30px 0 20px 20px;
  }
  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: rgba(17, 29, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgb(142, 103, 5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.4s ease;
  }
  nav .navigation ul.active {
    right: 0;
  }
  nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }
  nav .navigation ul li a {
    color: wheat;
  }
  #home {
    padding-top: 0px;
  }
  #home p {
    width: 90%;
  }
  #features {
    padding: 8vw 4vw 0vw 4vw;
  }
  #course {
    padding: 8vw 4vw 0vw 4vw;
  }
  #contact-us {
    padding: 6vw 4vw 6vw 4vw;
  }
  #experts {
    padding: 8vw 8vw 4vw 8vw;
  }
  /*Course*/
  #course-container {
    padding: 8vw 4vw;
  }
  #course-container .courses-info {
    width: 100%;
    margin-top: 40px;
  }
  /*Team*/
  #team-container {
    padding: 8vw 4vw;
  }
  #team-container .courses-info {
    width: 100%;
    margin-top: 40px;
  }

  /*Scholarship page start*/
  #about-scholarship {
    width: 100%;
  }
  /*scholarship page end*/
}

@media (max-width: 475px) {
  /* editing home screen in phone mode*/
  nav {
    padding: 6px 10px;
  }
  nav img {
    width: 130px;
  }
  #menu-icon {
    display: initial;
  }

  #menu-close {
    display: initial;
    font-size: 1.6rem;
    color: bisque;
    padding: 30px 0 20px 20px;
  }
  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: rgba(17, 29, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgb(142, 103, 5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.4s ease;
  }
  nav .navigation ul.active {
    right: 0;
  }
  nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }
  nav .navigation ul li a {
    color: wheat;
  }

  #home {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
  }
  #about-home {
    height: 70vh;
  }

  #features {
    padding: 4vw 2vw 0 2vw;
  }
  /*Expert section*/
  #experts {
    padding: 4vw 2vw 0 2vw;
  }

  #experts .experts-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #experts .profiles {
    margin-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
  }
  /*Contact us section*/
  #contact-us {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4vw 2vw 0vw 2vw;
  }

  #contact-us .form {
    padding: 0;
  }
  #contact-us .form .btn {
    margin-bottom: 15px;
  }

  #course {
    padding: 4vw 2vw 0vw;
  }

  /*Home section end*/

  /*Course page*/

  #about-course {
    height: 50vh;
  }

  #course-container {
    flex-direction: column;
  }

  #course-container .courses {
    width: 100%;
  }

  #course-container .category {
    width: 100%;
  }

  #course-container .courses-info {
    width: 100%;
    margin-top: 60px;
  }
  /*Team*/
  #team-container {
    flex-direction: column;
  }

  #team-container .team {
    width: 100%;
  }

  #team-container .team img {
    width: 300px;
    height: 450px;
  }

  #team-container .team-info {
    width: 100%;
    margin-top: 60px;
  }
  /*team section ends*/

  #about-content {
    display: flex;
    align-items: center;
    padding: 4vw 4vw 0 6vw;
  }

  /*scholarship page start*/
  #about-scholarship {
    width: 100%;
    height: 60vh;
  }
  #scholarship-info .text-section ul {
    width: 300px;
  }
  #scholarship-info .text-section h2 {
    padding-bottom: 15px;
    line-height: 1;
  }
  /*scholarship page end*/

  /* Apply now page start */
  #apply-now {
    height: 40vh;
  }
  #registristion {
    margin: 40px 10px 40px 10px;
  }
}

/* End of editing menu bar icon in tablet and phone mode */
